.banner {
    height: 100vh;
    background: url("../assets/img/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.banner .text {
    text-align: center;
    padding-bottom: 120px;
}

.banner .text p {
    font-size: x-large;
}

.go-to-helper {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 50px;
}

.banner .go-to {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: xx-large;
}

.banner .go-to:before {
    font-family: FontAwesome, sans-serif;
    content: "\f078";
    opacity: 0.33;
}

.banner h1 {
    line-height: 80px;
    font-weight: 300;
    margin-bottom: 10px;
}

.mobile-title {
    line-height: 80px;
    font-weight: 200;
    margin-bottom: 10px;
    font-size: 48px;
}

.mobile-media {
    display: none;
}

@media (max-width: 1200px) {
    .mobile-media {
        display: block;
    }
}