.sec2 .container .sec2-inner .sec2-slider .item {
    transition: all ease 0.5s 0s;
}

.sec2 .container .sec2-inner .sec2-slider .item:hover {
    transform: scale(.95);
}

.sec2 .container .sec2-inner .sec2-slider .item .text {
    display: none;
}

.sec2 .container .sec2-inner .sec2-slider .item:hover .image {
    opacity: 20%;
}

.sec2 .container .sec2-inner .sec2-slider .item .text {
    text-align: center;
    justify-content: center;
    margin: -65% 0 0 0;
    color: #fff;
}

.sec2 .container .sec2-inner .sec2-slider .item:hover .text {
    display: block;
}

.sec2 .container .sec2-inner .sec2-slider .item:hover .text p {
    margin-top: 5px;
}

.sec2 .container .sec2-inner .sec2-slider .item .text .streaming-services {
    justify-content: space-evenly;
    display: flex;
    margin-top: 4rem;
}

.sec2 .container .sec2-inner .sec2-slider .item .text .streaming-services .spotify-logo1:before {
    font-size: x-large;
    font-family: FontAwesome, sans-serif;
    content: "\f1bc";
}

.sec2 .container .sec2-inner .sec2-slider .item .text .streaming-services .apple-logo1:before {
    font-size: x-large;
    font-family: FontAwesome, sans-serif;
    content: "\f001";
}

.sec2 .container .sec2-inner .sec2-slider .item .text .streaming-services .spotify-logo .spotify-text {
    text-decoration: none;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
}

.sec2 .container .sec2-inner .sec2-slider .item .text .streaming-services .apple-logo .apple-text {
    text-decoration: none;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
}


.sec2 .container .sec2-inner .sec2-slider .item .text .streaming-services .spotify-logo {
    z-index: 1;
    font-size: x-large;
    font-family: FontAwesome, sans-serif;
    content: "\f1bc";
}

.sec2 .container .sec2-inner .sec2-slider .item .text .streaming-services .apple-logo {
    z-index: 1;
    font-size: x-large;
    font-family: FontAwesome, sans-serif;
    content: "\f001";
}

.sec2 .container .sec2-inner .sec2-slider .item .text .streaming-services .spotify-logo .spotify-text:hover {
    color: #1fdf64;
}

.sec2 .container .sec2-inner .sec2-slider .item .text .streaming-services .apple-logo .apple-text:hover {
    color: #fa586a;
}

.sec2 .item img {
    max-height: 400px;
    width: 390px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
}

.sec2 {
    padding: 60px 0 0;
}
.sec2 h2 {
    text-transform: uppercase;
    font-weight: 100;
}

@media (max-width: 1200px) {
    .slick-track {
        translate3d(-1021px, 0px, 0px)!important;
    }
    .sec2 h2 {
        text-align: center;
    }
    .sec2 .item img {
        max-height: 300px;
        width: 300px;
    }
    .sec2 .text {
        width: 300px;
        margin: -75% 0 0 0!important;
    }
    .streaming-services .spotify-logo, .apple-logo{
        font-size: smaller!important;
    }
    .slick-track {
        transform: translate3d(-1030px, 0px, 0px)!important;
    }
}

@media (max-width: 1171px) {
    .slick-track {
        transform: translate3d(-1008px, 0px, 0px)!important;
    }
}

@media (max-width: 1145px) {
    .slick-track {
        transform: translate3d(-885px, 0px, 0px)!important;
    }
}
@media (max-width: 1024px) {
    .slick-track {
        transform: translate3d(-816px, 0px, 0px)!important;
    }
}

@media (max-width: 951px) {
    .slick-track {
        transform: translate3d(-740px, 0px, 0px)!important;
    }
}
@media (max-width: 847px) {
    .slick-track {
        transform: translate3d(-677px, 0px, 0px)!important;
    }
}

@media (max-width: 780px) {
    .slick-track {
        transform: translate3d(-640px, 0px, 0px)!important;
    }
}
@media (max-width: 740px) {
    .slick-track {
        transform: translate3d(-468px, 0px, 0px)!important;
    }
}

@media (max-width: 690px) {
    .sec2-inner {
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .slick-track {
        transform: translate3d(-441px, 0px, 0px)!important;
    }
    .sec2 .text {
        width: 300px;
        margin: -40% 0 0 0!important;
    }
}

@media (max-width: 600px) {
    .sec2 .text {
        width: 300px;
        margin: -45% 0 0 0!important;
    }
    .slick-track {
        transform: translate3d(-407px, 0px, 0px)!important;
    }
}

@media (max-width: 540px) {
    .slick-track {
        transform: translate3d(-377px, 0px, 0px)!important;
    }
}

@media (max-width: 500px) {
    .sec2 .text {
        width: 300px;
        margin: -55% 0 0 0!important;
    }
    .slick-track {
        transform: translate3d(-375px, 0px, 0px)!important;
    }
}

@media (max-width: 446px) {
    .slick-track {
        transform: translate3d(-326px, 0px, 0px)!important;
    }
}

@media (max-width: 400px) {
    .sec2 .text {
        width: 300px;
        margin: -70% 0 0 0!important;
    }
    .slick-track {
        transform: translate3d(-301px, 0px, 0px)!important;
    }
}

@media (max-width: 390px) {
    .slick-track {
        transform: translate3d(-314px, 0px, 0px)!important;
    }
}
@media (max-width: 360px) {
    .slick-track {
        transform: translate3d(-300px, 0px, 0px)!important;
    }
}



.sec2-slider {
    margin-top: 40px;
    margin-bottom: 60px;
}

.slick-slide {
    height: 100%;
}

.sec2-slider {
    max-height: 400px;
}

.slick-slide, .slick-current, .slick-active {
    max-height: 400px;
}

.slick-prev:before {
    font-family: FontAwesome, sans-serif;
    content: "\f053";
}
.slick-next:before {
    font-family: FontAwesome, sans-serif;
    content: "\f054";
}