.sec1 {
    position: relative;
    padding-top: 40px;
}
.sec1 h3 {
    text-transform: uppercase;
    line-height: 32px;
}
.sec1 p {
    line-height: 32px;
}
.sec1-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sec1 .text {
    width: 47%;
}

.sec1 .text-right {
    text-align: center;
}


@media (max-width: 1200px) {
    .banner .landing-text{
        display: none;
    }
}