header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

header ul {
    padding-left: 0;
}

header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

header ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}