* {
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    color: #fff;
    background-color: #000;
    font-family: 'Space Grotesk', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Butler, sans-serif;
}


h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 26px;
}

.logo {
    font-family: 'Space Grotesk', sans-serif;
}

.logo a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.container {
    max-width: 1166px;
    margin: 0 auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

header ul {
    padding-left: 0;
}

header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

header ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.banner {
    height: 100vh;
    background: url("../assets/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.banner .text {
    text-align: center;
    padding-bottom: 120px;
}

.banner .text p {
    font-size: x-large;
}

.go-to-helper {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 50px;
}

.banner .go-to {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: xx-large;
}

.banner .go-to:before {
    font-family: FontAwesome, sans-serif;
    content: "\f078";
    opacity: 0.33;
}

.banner h1 {
    line-height: 80px;
    font-weight: 300;
    margin-bottom: 10px;
}

/* GLOBAL BTN STYLE*/
.btn {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 60px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    z-index: 9;
    margin-top: 50px;
    transition: all ease 0.5s;
}
.btn:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    opacity: .9;
    z-index: -1;
    transition: all ease 0.5s;
}
.btn:hover {
    color: #fff;
}
.btn:hover:before {
    top: 0;
    height: 100%;
}


.sec1 {
    position: relative;
    padding: 80px 0;
}
.sec1 h3 {
    text-transform: uppercase;
    line-height: 32px;
}
.sec1 p {
    line-height: 32px;
}
.sec1-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec1 .text {
    width: 47%;
}
.sec1 .text-left {
    text-align: right;
}
.sec1 .text-right {
    text-align: left;
}
.sec1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}
.sec1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}

.sec3 .container .sec3-inner .sec3-slider .item {
    transition: all ease 0.5s 0s;
}

.sec3 .container .sec3-inner .sec3-slider .item:hover {
    transform: scale(.95);
}

.sec3 .container .sec3-inner .sec3-slider .item .text {
    display: none;
}

.sec3 .container .sec3-inner .sec3-slider .item:hover .image {
    opacity: 20%;
}

.sec3 .container .sec3-inner .sec3-slider .item .text {
    text-align: center;
    justify-content: center;
    margin: -65% 0 0 0;
    color: #fff;
}

.sec3 .container .sec3-inner .sec3-slider .item:hover .text {
    display: block;
}

.sec3 .container .sec3-inner .sec3-slider .item:hover .text p {
    margin-top: 5px;
}

.sec3 .container .sec3-inner .sec3-slider .item .text .streaming-services {
    justify-content: space-evenly;
    display: flex;
    margin-top: 4rem;
}

.sec3 .container .sec3-inner .sec3-slider .item .text .streaming-services .spotify-logo1:before {
    font-size: x-large;
    font-family: FontAwesome, sans-serif;
    content: "\f1bc";
}

.sec3 .container .sec3-inner .sec3-slider .item .text .streaming-services .apple-logo1:before {
    font-size: x-large;
    font-family: FontAwesome, sans-serif;
    content: "\f001";
}

.sec3 .container .sec3-inner .sec3-slider .item .text .streaming-services .spotify-logo .spotify-text {
    text-decoration: none;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
}

.sec3 .container .sec3-inner .sec3-slider .item .text .streaming-services .apple-logo .apple-text {
    text-decoration: none;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
}


.sec3 .container .sec3-inner .sec3-slider .item .text .streaming-services .spotify-logo {
    z-index: 1;
    font-size: x-large;
    font-family: FontAwesome, sans-serif;
    content: "\f1bc";
}

.sec3 .container .sec3-inner .sec3-slider .item .text .streaming-services .apple-logo {
    z-index: 1;
    font-size: x-large;
    font-family: FontAwesome, sans-serif;
    content: "\f001";
}

.sec3 .container .sec3-inner .sec3-slider .item .text .streaming-services .spotify-logo .spotify-text:hover {
    color: green;
}

.sec3 .container .sec3-inner .sec3-slider .item .text .streaming-services .apple-logo .apple-text:hover {
    color: #fa586a;
}

.sec3 .item img {
    max-height: 400px;
    width: 390px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 5px;
    padding-left: 5px;
}

.sec3 {
    padding: 60px 0 0;
}
.sec3 h2 {
    text-transform: uppercase;
    max-width: 60%;
    font-weight: 100;
}
.sec3-slider {
    margin-top: 40px;
    margin-bottom: 60px;
}

.slick-slide {
    height: 100%;
}

.sec3-slider {
    max-height: 400px;
}

.slick-slide, .slick-current, .slick-active {
    max-height: 400px;
}

.slick-prev:before {
    font-family: FontAwesome, sans-serif;
    content: "\f053";
}
.slick-next:before {
    font-family: FontAwesome, sans-serif;
    content: "\f054";
}


footer {
    position: relative;
    padding: 50px 0;
}
footer .text h2 {
    font-weight: 300;
}
.footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-inner .col {
    padding-right: 50px;
}
footer ul {
    margin-left: 0;
}
footer ul li {
    list-style: none;
    margin-bottom: 30px;
}
footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

footer ul li p {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}

footer:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}

.copyright {
    padding: 25px 0;
    text-align: center;
}

.copyright p {
    font-size: 14px;
}